name: Node.js CI Pipeline

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  build-and-test:
    runs-on: ubuntu-latest

    steps:

    - name: Checkout code
      uses: actions/checkout@v3

    - name: Set up Node.js
      uses: actions/setup-node@v3
      with:
        node-version: '18'  # You can change this to match your project
    
    - name: Install dependencies
      run: npm install

    - name: Build project
      run: npm run build

    - name: Upload build artifacts
      uses: actions/upload-artifact@v4
      with:
       name: build
       path: build/

    - name: Run Eslint
      run: npx eslint .

    - name: Run npm audit
      run: npm audit --production

    - name: Run tests
      run: npm test

    - name: Run Semgrep scan
      uses: returntocorp/semgrep-action@v1
      with:
        config: .semgrep.yml
    
    - name: Deploy to GitHub Pages
      uses: peaceiris/actions-gh-pages@v3
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
        publish_dir: ./build